*{
    margin: 0;
    padding: 0;
    font-family: SF Pro Display;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%; 
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.logo{
    width: 230px;
    cursor: pointer;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
}

.btn img{
    width: 20px;
    margin-right: 10px;
}

.content{
    margin-top: 5%;
    color: #fff;
    max-width: 550px;
}

.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}

.content form{
    display: flex;
    align-items: center;
    background: #000000;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.content form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
    color: white;
    background-color: black;
}

.content form .btn{
    font-size: 17px;
    padding: 10px 30px;
    
}