.wrapper{
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    overflow: hidden;
}

.switch{
    transform: translateY(-200px);
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
}

.cardside::before{
    position: absolute;
    content:'Log In';
    left: -70px;
    top: 0;
    width: 100px;
    text-decoration: underline;
    color: var(--font-color);
    font-weight: 600;
    font-family: Creato Display;
}

.cardside::after{
    position: absolute;
    content:'Sign Up';
    left: 70px;
    top: 0;
    width: 100px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 600;
    font-family: Creato Display;
}

.toggle{
    opacity: 0;
    width: 0;
    height:0;
}

.slider{
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    transition: 0.4s;
}

.slider::before{
    box-sizing: border-box;
    position: absolute;
    content:'';
    height: 20px;
    width:20px;
    border:2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.4s;
}

.toggle:checked + .slider{
    background-color: var(--input-focus);
}

.toggle:checked + .slider:before{
    transform: translateX(30px);
}

.toggle:checked ~ .cardside:after{
    text-decoration: underline;
}

.toggle:checked ~ .cardside:before{
    text-decoration: none;
}

.flipcardinner{
    width: 300px;
    height: 350px;
    position: relative;
    background: transparent;
    perspective: 1000px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.toggle:checked ~ .flipcardinner{
    transform: rotateY(180deg);
}

.toggle:checked ~ .flipcardfront{
    box-shadow: none;
}

.flipcardfront, .flipcardback{
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: lightgrey;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.flipcardback{
    width: 100%;
    transform: rotateY(180deg);
}

.flipcardform{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title{
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: var(--main-color);
    font-family: Creato Display;
}

.flipcardinput{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background: var(--bg-color);
    color: var(--font-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
    font-family: Creato Display;
}

.flipcardinput::placeholder{
    color: var(--font-color-sub);
    opacity: 0.8;
    font-family: Creato Display;
}

.flipcardinput:focus{
    border: 2px solid var(--input-focus);
}

.flipcardbutton:active, .buttonconfirm:active{
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.flipcardbutton{
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background: var(--bg-color);
    color: var(--font-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    font-family: Creato Display;
}