*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF Pro Display Heavy;
}

body{
    background: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover, .navbar a.active{
    color: #1743e3;
}

.socialmedia{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

.socialmedia a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
    opacity: 0;
    animation: slideSci .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.socialmedia a:hover{
    border-color: white;
}

.socialmedia a i{
    font-size: 24px;
    color: white;
    transform: rotate(-45deg);
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.homecontent{
    max-width: 630px;
}

.homecontent h1{
    font-size: 40px;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.homecontent h3{
    font-size: 40px;
    color: #1743e3;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.4s;
}

.homecontent p{
    font-size: 16px;
    margin: 10px 0 30px;
    animation: slideLeft 1.5s ease forwards;
    animation-delay: 1.6s;
}

.btn{
    display: inline-block;
    padding: 10px 28px;
    background: #1743e3;
    border: 2px solid #1743e3;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover{
    background: transparent;
    color: #1743e3;
}

.homeimg{
    position: relative;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
}

.homeimg .rhombus img{
    position: absolute;
    top: 100px;
    left: -100px;
    max-width: 750px;
    opacity: 0;
    animation: car 1s ease forwards;
    animation-delay: 2s;
}

.homeimg .rhombus2{
    position: absolute;
    top: -100%;
    right: -100%;
    width: 700px;
    height: 700px;
    background: #1743e3;
    z-index: -1;
    opacity: 0;
    animation: rhombus2 1s ease forwards;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideSci{
    0%{
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomOut{
    0%{
        transform: scale(1.1) ;
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes car{
    0%{
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}

@keyframes rhombus2{
    0%{
        right: -40%;
        opacity: 0;
    }
    100%{
        right: -25%;
        opacity: 1;
    }
}