*{
    margin: 0px;
    padding: 0px;
    font-family: SF Pro Display Heavy;
}

.container{
    background-color: #8b94a3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 60%;
    max-width: 600px;
    border-radius: 10px;
}

form h2{
    text-align: center;
    color: rgb(41, 50, 65);
    margin-bottom: 20px;
}

form input, textarea{
    border: 0;
    margin: 10px 0px;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    border-radius: 10px;
    resize: none;
}

form button{
    background: white;
    color: rgb(41, 50, 65);
    border: 1px solid rgb(41, 50, 65);
    padding: 15px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    margin: 20px auto 0;
    border-radius: 30px;
    transition: all .3s ease-in;
}

form button:hover{
    border: 1px solid rgb(41, 50, 65);
    background:rgb(41, 50, 65);
    color: white;
}